.formBase {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: "16px";
  height: 100%;
  width: 100%;
}

.sendMessage {
  justify-content: right;
  text-align: center;
  padding: 8px;
  font-family: roboto, sans-serif;
  color: #fff;
  background: linear-gradient(243deg, #2397f5, #3b6bb9 100%);
  border-radius: 8px;
}

.senderText {
  font-family: roboto, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 4px;
}

.receivedMessage {
  text-align: left;
  padding: 8px;
  font-family: roboto, sans-serif;
  color: #000;
  background: linear-gradient(
    193deg,
    rgba(237, 247, 255, 1) 0%,
    rgba(223, 223, 223, 1) 100%
  );
  border-radius: 8px;
  width: fit-content;
}

@media screen and (max-width: 1024px) {
  .userList {
      display: none !important;
  }
}